body{
    background-color: rgba(0, 0, 0, 0.781);
    display: flex;
    justify-content: center;
    transition: background 1.5s;
}

.main-btn {
    background-color: transparent;
    position: absolute;
    top: 50%;

    color: black;
    padding: 20px;
    outline: none;
    border-radius: 7%;
    border-color: white;
    width: 100px;
}

.main-btn[type=button] {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}